@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '@styles/_variables.scss';

.event-card {
  &-standard {
    box-shadow: 3px 3px 3px 3px $soft-grey;

    .card-body {
      @include media-breakpoint-down(md) {
        flex-direction: column;
  
        .event-card-description, .event-card-schedule {
          text-align: center;
        }
      }
  
      .event-card-description {
        flex-basis: 75%;
  
        h3 {
          color: $marine;
        }
  
        .badge {
          border-radius: 0;
          font-size: 1em;
        }
      }
  
      .event-card-schedule {
        flex-basis: 25%;
  
        h4 {
          color: $marine;
        }
  
        .event-card-see-event {
          border-top-left-radius: 20px;
          background-color: $light-grey;
  
          ul {
            li {
              list-style: none;
              color: $marine;
              font-weight: 600;
  
              span {
                color: $cool-grey;
              }
            }
          }
  
          a {
            color: $color-secondary;
          }
        }
      }    
    }
  }

  &-featured {
    box-shadow: 3px 3px 3px 3px $soft-grey;
    border-bottom-left-radius: 80px;

    .card-body {
      @include media-breakpoint-down(md) {
        flex-direction: column;
  
        .event-card-description, .event-card-schedule, .event-card-image {
          text-align: center;
        }
      }

      .event-card-description {
        flex-basis: 75%;

        h2 {
          color: $marine;
        }
  
        .badge {
          border-radius: 0;
          font-size: 1.5em;
        }
      }

      .event-card-image, .event-card-shedule {
        flex-basis: 12.5%;
      }

      .event-card-shedule {
        ul {
          li {
            font-weight: 600;
            list-style: none;
            color: $marine;
          }
          span {
            color: $cool-grey;
          }
        }
      }

      .event-card-schedule-calendar {
        background: $deep-sea-blue;
        color: $white;
      }
    } 
  }
}
