@import '@styles/_variables.scss';

.navigation-bar {
  background-color: $white;

  .navbar-small-logo {
    max-width: 200px;
    height: auto;
  }

  .navigation-bar-orange-arrow {
    color: $orange-arrow;
  }
}
