@import '@styles/_variables.scss';

.banner-form {
  padding-top: 3em;
  padding-bottom: 3em;

  .form-group {
    label { 
      color: $dark-blue-variant;
      font-size: .7em !important;
  
      span {
        color: $red-required-field;
        padding-left: .3em;
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
}
