@import '@styles/_variables.scss';

$default-color-banner-title: $white;

.banner-advertising {
  height: 300px;
  justify-content: center;
  flex-direction: column;

  h3 {
    color: $default-color-banner-title;
  }
}
