@import '@styles/_variables.scss';

.text {
  &-quote-type-text {
    .text-quote-type-text-marks {
      font-size: 100px;
      color: $light-orange;
      padding: 0;
      margin: 0;
      line-height: 100px;
    }

    .text-quote-type-text-author {
      color: $color-typography-header;
      font-weight: bold;
    }

    .text-quote-type-text-position {
      font-weight: bold;
      color: $color-primary-button;
    }
  }
}

.left-decorator {
  border-right: 10px solid $orange-variant;
  border-radius: 35px 5px 0 0;
  width: 5px;
  height: 35px;
}

.right-decorator {
  border-right: 10px solid $orange-variant;
  border-radius: 5px 35px 0 0;
  width: 5px;
  height: 35px;
}
