@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '@styles/_variables.scss';

$default-bg-color: $dark-blue;

$hero-height-sm: 250px;
$hero-height-md: 300px;
$hero-height-lg: 500px;

.hero {
  background-color: $default-bg-color;
  height: $hero-height-md;

  &.lg {
    height: $hero-height-lg;

    .hero-content {
      width: 50%;
    }
  }
}
