@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '@styles/variables.scss';

.hero {
  background: gray;

  &-content {
    min-height: 250px;

    @include media-breakpoint-up(md) {
      min-height: 350px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 500px;
    }
  }
}
