@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.clients-section {
  .box {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8%;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}
