@import '@styles/_variables.scss';

.custom-tabs {
  .nav-link {
    background-color: $white-three;
    color: $warm-grey-three;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .nav-link.active {
    background-color: $color-secondary;
    color: $white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.tab-content { 
  background-color: $silver;
}
