// Global variables

$light-blue-row-table: #f7fafc;
$blue-badge: #c3dafe;
$black-font-badge: #3c366b;
$grey-divider: #c2c3c5;
$white: #ffffff;
$black: #000000;
$color-typography: #595467;
$color-typography-header: #0a233c;
$color-body: #353535;
$color-primary: #fa8f04;
$color-secondary: #1466b4;
$color-tertiary: #0a233c;
$light-blue-1: #bdd9f0;
$light-blue-2: #e6edf3;
$color-primary-button: #fa8f04;
$color-primary-hover-button: #faaa5e;
$color-primary-clicked-button: #e38000;
$color-secondary-button: #1466b4;
$color-secondary-hover-button: #3582cb;
$color-secondary-clicked-button: #114b83;
$red-error: #e14a63;
$warn-grey: #757272;
$light-pink: #fef3f5;
$red-text-alert: #2b3e51;
$melon: #fecfa2;
$light-orange: #faaa5e;
$orange: #e38000;
$green-apple: #5cc70c;
$blue-alternative: #3582cb;
$dark-blue: #114b83;
$water-blue: #ddf4de;
$dark-green: #177b1d;
$beige: #fef3f5;
$pink: #e14a63;
$soft-grey: #e2e2e2;
$soft-grey-variant: #ecedf1;
$orange-variant: #f58b02;
$grey-carousel: #bebebe;

