@import '@styles/_variables.scss';

.blog-card {
  box-shadow: 3px 3px 3px 3px $soft-grey;
  
  .card-text {
    ul {
      li {
        list-style: none;
      }

      .blog-card-hightlight-date {
        color: $deep-sea-blue;
        font-weight: 600;
      }

      .blog-card-tags {
        color: $marine;
        font-weight: 600;

        span {
          color: $warm-grey;
          font-weight: 500;
        }
          
      }
    }
  }

  .blog-card-see-more {
    a {
      color: $color-secondary;
    }
  }
}
