@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.card-body {
  height: 150px;
  
  .card-text {
    height: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
