@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '@styles/_variables.scss';

$default-color-banner-title: $white;

.banner {
  &-standard {
    .card {
      border: 0;
      padding-bottom: 0 !important;

      .card-body {
        margin-top: 0;
      }

    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;

      .banner-image {
        width: 100%;
      }
    }

    @include media-breakpoint-up(md) {
      .banner-image {
        width: 50%;
      }
    }
  }

  &-advertising {
    height: 300px;
    justify-content: center;
    flex-direction: column;

    h3 {
      color: $default-color-banner-title;
    }
  }

  &-form {
    padding-top: 5em;
    padding-bottom: 5em;

    .form-group {
      label { 
        color: $dark-blue-variant;
        font-size: .7em !important;
      
        span {
          color: $red-required-field;
          padding-left: .3em;
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
  }

  &-video {
    height: 350px;
    
    .video-wrap {
      position:relative;
      padding-bottom: 55%;
      padding-top: 30px;
      height: 0;
      overflow:hidden;
    }

    .video-wrap iframe,
    .video-wrap object,
    .video-wrap embed {
      position:absolute;
      top:0;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      height: 550px;
    }
  }
}
