@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '@styles/_variables.scss';

$default-color-banner-title: $white;

.banner {
  &-standard {
    @include media-breakpoint-down(sm) {
      flex-direction: column;

      .banner-image {
        width: 100%;
      }
    }

    @include media-breakpoint-up(md) {
      .banner-image {
        width: 50%;
      }
    }
  }

  &-advertising {
    height: 300px;
    justify-content: center;
    flex-direction: column;

    h3 {
      color: $default-color-banner-title;
    }
  }

  &-form {
    padding-top: 5em;
    padding-bottom: 5em;

    .form-group {
      label { 
        color: $dark-blue-variant;
        font-size: .7em !important;
      
        span {
          color: $red-required-field;
          padding-left: .3em;
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
  }

  &-video {
    height: 350px;
    
    .video-wrap {
      position: relative;
      padding-bottom: 50%;
      height: 0;
      overflow: hidden;
    }

    .video-wrap iframe,
    .video-wrap object,
    .video-wrap embed {
      position: absolute;
      top: 0;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      height: 550px;
    }
  }
}
