$white: #ffffff;
$black: #000000;
$orange-header-menu: #f38a08;
$orange-image-title : #fa8f04;
$light-blue: #eff5fa;
$orange-arrow: #f58b02;
$grey-divider: #959595;
$soft-grey-divider: #efe8e8;
$dark-blue: #04182e;
$blue-text-copyright: #7d9fbe;
$light-blue-two: #f9fafb;
$red-required-field: #db3d3d;
$dark-blue-variant: #00192e;
$color-typography: #595467;
$color-typography-header: #0a233c;
$color-body: #353535;

$color-secondary: #1466b4;
$dark-grey-blue: #33536d;
$color-secondary-button: #1466b4;
$color-secondary-hover-button: #3582cb;
$color-secondary-clicked-button: #114b83;
$soft-grey-white: #f6f6f6;
$macaroni-and-cheese: #f6b431;

$light-blue-row-table: #f7fafc;
$blue-badge: #c3dafe;
$black-font-badge: #3c366b;
$primary: #fa8f04;
$color-tertiary: #0a233c;
$light-blue-1: #bdd9f0;
$light-blue-2: #e6edf3;
$melon: #fecfa2;
$light-orange: #faaa5e;
$orange: #e38000;
$green-apple: #5cc70c;
$blue-alternative: #3582cb;
$water-blue: #ddf4de;
$dark-green: #177b1d;
$beige: #fef3f5;
$pink: #e14a63;
$warn-grey: #757272;
$soft-grey: #e2e2e2;
$soft-grey-variant: #ecedf1;
$color-primary-button: #fa8f04;
$color-primary-hover-button: #faaa5e;
$color-primary-clicked-button: #e38000;
$red-error: #e14a63;
$grey-carousel: #bebebe;
$orange-variant: #f58b02;
$dark-indigo: #0e2e52;
$pale-grey: #ebf3fa;
$sandy: #f2c986;
$sky-blue: #73b8f9;
$deep-sea-blue: #005292;
$warm-grey: #828282;
$marine: #022a4e;
$silver: #e3e6e8;
$white-three: #dcdcdc;
$warm-grey-three: #716f6f;
