$assetPathImages: "../images";
$white: #ffffff;
$black: #000000;
$orange-header-menu: #f38a08;
$orange-image-title : #fa8f04;
$light-blue: #eff5fa;
$orange-arrow: #f58b02;
$grey-divider: #959595;
$dark-blue: #04182e;
$blue-text-copyright: #7d9fbe;
$light-blue-two: #f9fafb;
$red-required-field: #db3d3d;
$dark-blue-variant: #00192e;
$color-typography: #595467;
$color-typography-header: #0a233c;
$color-body: #353535;
$path-assets: "../assets";
$color-secondary: #1466b4;
$dark-grey-blue: #33536d;
$color-secondary-button: #1466b4;
$color-secondary-hover-button: #3582cb;
$color-secondary-clicked-button: #114b83;
$soft-grey-white: #f6f6f6;
$macaroni-and-cheese: #f6b431;
