@import '@styles/_variables.scss';

.banner-video {
  background: red;
  background-size: 50% !important;

  .banner-video-text::before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -2em;
    height: 1px;
    width: 50%;
    border-bottom: 8px solid $color-secondary-hover-button; 
  }
}
