@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '@styles/_variables.scss';

.navbar.top-bar {
  @include media-breakpoint-up(lg) {
    border-bottom: .1px solid $soft-grey-divider;
  }

  .nav-link {
    padding: 1rem;
    font-weight: 600;
  }

  .nav-link.active {
    background-color: $orange-arrow;
  }
}
